@import url("https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  font-family: "Crimson Text", serif;
  height: 100%;
  width: 100%;
  @apply text-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
  font-family: "Martel Sans", sans-serif !important;
  font-weight: bold;
  letter-spacing: -0.025em;
}
